extends layouts/home

block script
	link(href='/css/content.css', media='all', rel='stylesheet', type='text/css')
	link(href='/css/bookblock.css', media='all', rel='stylesheet', type='text/css')
	link(href='http://yandex.st/highlightjs/7.5/styles/default.min.css', rel='stylesheet', type='text/css')
	script(type='text/javascript', src='/views/index.js')
	script(type='text/javascript', src='/js/modernizr.custom.js')
	script(type='text/javascript', src='/js/jquerypp.custom.js')
	script(type='text/javascript', src='/js/jquery.bookblock.min.js')

block information
	div.ui.information.transition
		h1.ui.inverted.header #{configs.app.service_name}
		p The thruth about startup life to inspire you

	div.ui.center.angelspots.content
		div#article_content

block body

		//
			div.bb-bookblock#book
				div.bb-item
					div.text#article_content
