extends layouts/home

block script
	link(href='/css/bookblock.css', media='all', rel='stylesheet', type='text/css')
	script(type='text/javascript', src='/views/index.js')
	script(type='text/javascript', src='/js/modernizr.custom.js')
	script(type='text/javascript', src='/js/jquerypp.custom.js')
	script(type='text/javascript', src='/js/jquery.bookblock.min.js')

block information
	div.ui.information.transition
		h1.ui.inverted.header #{configs.app.service_name}
		p The thuth about startup life to inspire you

	div.ui.center.angelspots
		div.bb-bookblock#book
			div.bb-item#article_content
			div.bb-item 12312213

block body
