.angelspots.content {
}

.angelspots.content h1,
.angelspots.content h2,
.angelspots.content h3,
.angelspots.content h4,
.angelspots.content h5,
.angelspots.content h6 {
	line-height: 300%;
}

.angelspots .text pre {
	background: #e0e0e0;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
