html,
body {
	font-size: 15px;
	height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0px;
	margin: 0px;
	text-rendering: optimizeLegibility;
	background: #e5e5e5;
}

a {
	color: #00BAFF;
	text-decoration: none;
}

a:hover {
	color: #0085FF;
}

.ui.header {
	font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header, h1, h2 {
	font-weight: normal !important;
}

.ui.page.grid.segment {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

.masthead.segment {
	background-image: url(/images/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0em;
	padding-top: 4rem;
	overflow: hidden;
	-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
	box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .information {
	margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
	max-width: 600px;
	margin: 0em 0px 2em 0em;
	font-size: 1.2em;
}

.ui.nature.segment {
	padding: 1rem;
	border-top: 1px solid #ddd;
}

.navbar {
	background-image: url(/images/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
	box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

@media only screen and (max-width: 1725px) {
	#profile .container {
		width: auto;
		margin-right: 100px;
		margin-left: 325px;
	}
}

sb-component {
	display: none;
}

.sidebar_menu {
	margin-top: 4em;
	margin-left: 0px;
	left: 95px;
	position: fixed;
}

.sidepanel {
	position: fixed;
	top: 58px;
	z-index: 500;
}

.ui.transparent.menu {
	opacity: 0.93;
}

.ui.navbar.menu.above {
	-webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1) !important;
}

.ui.navbar.menu.moving {
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5) !important;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.ui.navbar.menu .ui.menu .item {
	padding: 1.5em;
}

.ui.navbar-search-input input {
	border: 1px solid #e8e8e8;

	border-radius: 2em; 
	-moz-border-radius: 2em; 
	-webkit-border-radius: 2em;

	-webkit-box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.1) !important;
}

.ui.items .item.article-item {
	padding: 0px;
}

.ui.fixed.menu+.ui.grid {
	padding-top: 4.5rem;
}

.ui.fixed.menu+.ui.grid.dashboard {
	padding-top: 4.5rem;
}

.ui.fixed.menu+.toolbar {
	padding-top: 4rem;
}

.editor.toolbar {
	position: fixed;
	width: 100%;
	margin-top: 1rem;
	background-color: #f0f0f0;
	z-index: 500;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.editor.toolbar .ui.grid {
	margin: 0 0;
}

.editor.toolbar .toolbar-panel {
	border: 0px;
}

.editor.viewport {
	height: 100% !important;
}

.editor.toolbar+.editor.viewport .ui.stackable.grid {
	margin: 0 0;
	padding-top: 11.5rem;
	height: 100% !important;
}

.editor.viewport .workarea {
	height: 100% !important;
	overflow-y: scroll;
}

.editor.viewport .editarea {
	padding: 4.5rem;
}
