extends ../layouts/default

block script
	link(href='/css/content.css', rel='stylesheet', type='text/css')
	link(href='/CodeMirror/codemirror.css', rel='stylesheet', type='text/css')
	link(href='/CodeMirror/theme/angelspots-light.css', rel='stylesheet', type='text/css')
	link(href='http://yandex.st/highlightjs/7.5/styles/default.min.css', rel='stylesheet', type='text/css')
	script(type='text/javascript', src='/js/fulfill.js')
	script(type='text/javascript', src='/js/marked.js')
	script(type='text/javascript', src='/CodeMirror/codemirror.js', charset='utf-8')
	script(type='text/javascript', src='/CodeMirror/mode/markdown/markdown.js', charset='utf-8')
	script(type='text/javascript', src='http://yandex.st/highlightjs/7.5/highlight.min.js')
	script(type='text/javascript', src='/views/article/edit.js')
	script(type='text/javascript', src='/js/jquery.filedrop.js')

block body

	div.editor.toolbar

		input#article_id(type='hidden', value='#{article_id}')

		div.ui.stackable.grid

			div.row

				div.three.wide.column
				div.ten.wide.column

					div.ui.input.icon.left.fluid

						input#article_subject(type='text', name='name', placeholder='Subject')
						i.bookmark.icon

					div.ui.menu.tabular.toolbar-panel

						div.menu.left#toolbar_edit

							div.ui.icon.buttons
								div.ui.button.black.disabled#toolbar_save(data-content='Save', data-position='bottom center', data-variation='inverted')
									i.save.icon

								a.ui.button.black#toolbar_bold(data-content='Bold', data-position='bottom center', data-variation='inverted')
									i.bold.icon

								a.ui.button.black#toolbar_italic(data-content='Italic', data-position='bottom center', data-variation='inverted')
									i.italic.icon

								a.ui.button.black#toolbar_underline(data-content='Underline', data-position='bottom center', data-variation='inverted')
									i.underline.icon

								a.ui.button.black#toolbar_strikethrough(data-content='Strikethrough', data-position='bottom center', data-variation='inverted')
									i.strikethrough.icon

								a.ui.button.black#toolbar_link(data-content='Link', data-position='bottom center', data-variation='inverted')
									i.unlink.icon

								a.ui.button.black#toolbar_blockquote(data-content='Blockquote', data-position='bottom center', data-variation='inverted')
									i.quote.right.icon

								a.ui.button.black#toolbar_code(data-content='Code', data-position='bottom center', data-variation='inverted')
									i.code.right.icon

						div.menu.right
							a.ui.item.active#toolbar_edit_mode(data-content='Edit Content', data-position='bottom center', data-variation='inverted')
								i.edit.icon
								!='Edit'

							a.ui.item#toolbar_previewer(data-content='Preview', data-position='bottom center', data-variation='inverted')
								i.unhide.icon
								!='Preview'

		div.sidepanel

			div.ui.teal.button#sidepanel_publish_button Publish

	div.editor.viewport

		div.ui.stackable.grid

			div.row.workarea

				div.three.wide.column
				div.ten.wide.column

					div.ui.raised.segment.dimmable#upload_area

						div.ui.dimmer.hidden

							div.content
								div.center
									h2.ui.inverted.icon.header
										i.icon.circular.inverted.green.cloud.upload
										!='Drop picture to upload'

						div.editarea#form_content_editor
						div.article.content(style='display: none;')#form_content_previewer

	div.ui.small.modal#publish_dialog

		div.header Publish Your Article

		div.content

			div.left
				i.help.icon

			div.right
				p Are your ready to publish this article?

		div.actions
			div.two.fluid.ui.buttons

				div.ui.negative.labeled.icon.button
					i.remove.icon
					!='No'

				div.ui.positive.labeled.icon.button.right
					i.checkmark.icon
					!='Yes'

	div.ui.basic.modal#publish_success_dialog

		div.content.ui.aligned.center.segment.basic

			i.checkmark.icon.massive.green

			h3 Your article has been published successfully!

		//
			div.actions

				div.ui.fluid.buttons
					div.ui.positive.labeled.button OK
