extends ../layouts/default

block script
	script(type='text/javascript', src='/epiceditor/js/epiceditor.min.js')
	script(type='text/javascript', src='/views/article/new.js')

block body

	input#email(type='hidden', value='#{session.emaili}')

	div.ui.page.grid.segment
		div.sixteen.wide.column

			div.ui.fluid.form

				div#new_article_form

					div.field#field_subject
						label Subject
						input#form_name(type='text', name='name', placeholder='The People Who Works Really Hard!')

					div.field
						div#form_content_editor
						

